<nav class="navbar navbar-dark bg-dark">
  <div class="form-row w-100">
    <div class="w-100">
      <div class="input-group mb-2 w-50">
        <input
          [(ngModel)]="search"
          type="text"
          class="form-control search-input"
          placeholder="Search by Title, Keyword or File Type"
        />
        <div class="input-group-append">
          <div class="input-group-text">
            <img src="../../assets/icons/search.svg" />
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
